<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fencing Notebook | Home</title>
  <link rel="stylesheet" href="./style.css">
</head>

<body>
  <div id="header">
    <div id="menu">bars</div>
    <h1 id="title">Fencing Notebook</h1>
    <div id="profile">silohuette</div>
  </div>
  <div id="statsBlock">
    <div>
      <ul id="bouts">
        <% for ( let i = 0; i < bouts.length; i++) { %>
          <%- include('bout/bout', {bout: bouts[i]}); %>
        <% }; %>
      </ul>
    </div>
    <div>
      <ul id="opponents">
        <% for ( let i = 0; i < opponents.length; i++) { %>
          <%- include('fencer/opponent', {opponent: opponents[i]}); %>
        <% }; %>
      </ul>
      <a href="/fencer/new" class="button">Add a New Opponent!</a>
      <a href="/bout/new" class="button">Add a New Bout!</a>
    </div>
  </div>
  <div id="footer">
    <div id="email">email@email.com</div>
    <div id="git">github.link</div>
  </div>
</body>

</html>