<!-- <li><%= opponent.lastname.toUpperCase() + ", " + opponent.firstname %></li> -->


<li>
  <a href="<%= '/fencer/' + opponent.id %>">
    <span> <%= opponent.lastname.toUpperCase() + ", " + opponent.firstname %></span>
  </a>
</li>